/* Typography*/

body {
    font-family: "Montserrat", san-serif;
  }
  
  .montserrat-uniquifier {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  :root {
    --white: #ffffff; 
  }
  
 /* Styles for color boxes to match the uploaded image style */


.color-box {
  height: 250px;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

.color-box-header {
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
}

.color-box-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: #333;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

/* Primary color styles */
.primary-color-1 .color-box-header { background-color: #40B5CD; } /* Blue */
.primary-color-2 .color-box-header { background-color: #5cdc90; } /* Dark Blue */
.primary-color-3 .color-box-header { background-color: #FA716B; } /* Light Blue */

/* Secondary color styles */
.secondary-color-1 .color-box-header { background-color: #7FCDDE; } /* Lavender */
.secondary-color-2 .color-box-header { background-color: #92e7bd; } /* Powder Blue */
.secondary-color-3 .color-box-header { background-color: #FCA09C; } /* Steel Blue */

/* tertiary color styles */
.tertiary-color-1 .color-box-header { background-color: #BFE6EE; } /* Lavender */
.tertiary-color-2 .color-box-header { background-color: #C8F3DE; } /* Powder Blue */
.tertiary-color-3 .color-box-header { background-color: #FECFCD; } /* Steel Blue */


  
/* Custom styles for reducing distance between cards */
.card {
  margin-bottom: 15px; /* Adjust the bottom margin of the card */
}

@media (min-width: 768px) { /* For medium screens and up */
  .col-md-6 .card {
      margin-right: 5px; /* Adjust the right margin for left card */
      margin-left: 5px;  /* Adjust the left margin for right card */
  }
}

.btn-primary.btn-sm {
  background-color: #0045B6; /* Set the background color to blue */
  color: #ffffff; /* Set the text color to white */
  border: none; /* Remove the border */
  padding: 10px 20px; /* Set the padding to 10px top/bottom and 20px left/right */
  font-size: 1rem; /* Set the font size */
  border-radius: 10px; /* Set the border radius to create rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Optional: Add a subtle shadow for depth */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

/* Adjust the hover state as needed */
.btn-primary.btn-sm:hover {
  background-color: #b09525; /* A darker shade of blue for the hover state */
  color: #ffffff; /* Ensure the text color remains white */
}

.btn-primary.btn-sm:active {
  background-color: #EEF4FC; /* Active state background color - typically darker */
  color: #0045B6;
  border: 2px solid #0045B6;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); /* Smaller shadow to give a "pressed" effect */
  transform: translateY(2px); /* Slight move down to mimic pressing */
}

.btn-primary.btn-md {
  background-color: #0045B6; /* Blue background */
  color: #ffffff; /* White text */
  padding: 12px 22px; /* 12px top and bottom, 22px left and right padding */
  font-size: 1.25rem; /* Larger font size for medium button */
  border-radius: 10px; /* Rounded corners */
  border: none; /* No border */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Box shadow for depth */
  transition: background-color 0.3s, box-shadow 0.2s, transform 0.2s; /* Smooth transition for hover and active effects */
}

.btn-primary.btn-md:hover {
  background-color: #001D47; /* Darker blue on hover */
  color: #ffffff;
}

.btn-primary.btn-md:active {
  background-color: #EEF4FC; /* Lighter background for active state */
  color: #0045B6; /* Blue text for active state */
  border: 2px solid #0045B6; /* Blue border for active state */
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); /* Smaller shadow for "pressed" effect */
  transform: translateY(2px); /* Mimic pressing down */
}

.btn-primary.btn-lg {
  background-color: #0045B6; /* Blue background */
  color: #ffffff; /* White text */
  padding: 14px 24px; /* 14px top and bottom, 24px left and right padding */
  font-size: 1.5rem; /* Larger font size for a large button */
  border-radius: 10px; /* Rounded corners */
  border: none; /* No border */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Box shadow for depth */
  transition: background-color 0.3s, box-shadow 0.2s, transform 0.2s; /* Smooth transition for hover and active effects */
}

.btn-primary.btn-lg:hover {
  background-color: #001D47; /* Darker blue on hover */
  color: #ffffff;
}

.btn-primary.btn-lg:active {
  background-color: #EEF4FC; /* Lighter background for active state */
  color: #0045B6; /* Blue text for active state */
  border: 2px solid #0045B6; /* Blue border for active state */
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); /* Smaller shadow for "pressed" effect */
  transform: translateY(2px); /* Mimic pressing down */
}

.alert-success {
  background-color: #4CB9A3; /* Light green background */
  border-color: #c3e6cb; /* Darker green border */
  color: #ffffff; /* Dark green text color */
  border-radius: 10px;
  /* Add other properties as needed */
}

.alert-danger {
  background-color: #E44646; /* Light green background */
  color: #ffffff; /* Dark green text color */
  border-radius: 10px;
  /* Add other properties as needed */
}

.alert-warning {
  background-color: #DB9E43; /* Light green background */
  color: #ffffff; /* Dark green text color */
  border-radius: 10px;
  /* Add other properties as needed */
}

.alert-info {
  background-color: #B5E5E3; /* Light green background */
  color: #000000; /* Dark green text color */
  border-radius: 10px;
  /* Add other properties as needed */
}

.carousel-item {
  position: relative; /* This allows absolute positioning inside the item */
}

.carousel-item img {
  height: 1000px;
  object-fit: cover;
  width: 100%;
  border-radius: 16px;
}

.carousel-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 16px; /* Match the border radius of the img */
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.5) 10%, 
    transparent 50%,
    rgba(0, 0, 0, 0.5) 90%
  );
}

.navbar.custom-navbar {
  background-color: #0045B6 !important; /* Dark background, using !important to override Bootstrap styles */
  border-radius: 10px;
}

.navbar.custom-navbar .navbar-text {
  color: #fff; /* Light text color */
}
